In [4]:
# 1. 동전을 20번 던져 앞면(숫자 1)과 뒷면(숫자 0)이 나오는 실험을 파이썬으로 작성하여 출력해보자(numpy)
import numpy as np
result = np.random.choice([0,1],size=20)
result

array([1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1])

In [6]:
# 2. 주사위를 10000번 던져서 나오는 숫자의 평균을 구하라.(numpy)
dice_result = np.random.choice([1,7], size=10000)
np.mean(dice_result)

3.9682

In [12]:
# 3. 난수로 이루어진 4 x 5 형태의 데이터 행렬을 만들고 이 데이터에 대해 다음과 같은 값을 구한다.(numpy)
nansu=np.random.standard_normal((4,5))
nansu.max()
nansu.sum()
nansu.mean()
nansu.min()

-1.8481194237369423

In [16]:
# 4.  다음 데이터를 시리즈 구조로 정의하고 '광주' 도시의 인구를 참조하시오
import pandas as pd
pd.Series([1000,300,200,100], index = ['서울','부산','인천','광주'])

서울    1000
부산     300
인천     200
광주     100
dtype: int64

In [19]:
# 5. 다음의 Series를 생성하고 sample 변수에 대입하고 출력하세요
sample=pd.Series([10,20,30,40,50], index = ['가','나','다','라','마'], dtype='int64')
sample

가    10
나    20
다    30
라    40
마    50
dtype: int64

In [26]:
# 6. sample중 '나'와 '라' 데이터를 조회하세요
sample[3:5]
sample.iloc[[3,4]]
sample[['라','마']]

라    40
마    50
dtype: int64

In [27]:
np.random.seed(20)
sample2 = pd.Series(np.random.randint(100, 200, size=(15,)))
sample2

0     199
1     190
2     115
3     195
4     128
5     190
6     109
7     120
8     175
9     122
10    171
11    134
12    196
13    140
14    185
dtype: int32

In [28]:
# 7. sample2 중 160 이하인 데이터만 필터하세요
sample2[sample2<160]

2     115
4     128
6     109
7     120
9     122
11    134
13    140
dtype: int32

In [32]:
# 8. sample2 중 130 이상 170 이하인 데이터만 필터하세요
sample2[(sample2>=130) & (sample2<=170)]

11    134
13    140
dtype: int32

In [37]:
# 9.다음과 같은 Series를 생성해 주세요
# [출력]
# 가     apple
# 나       NaN
# 다    banana
# 라      kiwi
# 마    gubong
# dtype: object
pd.Series(['apple', 'NaN','banana','kiwi','gubong'], index=['가','나','다','라','마'])

가     apple
나       NaN
다    banana
라      kiwi
마    gubong
dtype: object

In [46]:
# 10. 
# - 숫자로 이루어진 리스트에서 사용자가 입력한 숫자를 검색하는 모듈을 다음 요건에 따라 만들어 보자
# - 검색 모듈은 선형 검색 알고리즘을 이용하자
# - 리스트는 1부터 20까지의 정수 중에서 난수 10개를 이용한다.
# -검색에 성공하면 해당 정수의 인덱스를 출력하고, 검색 결과가 없다면 -1을 출력하자
num_list = np.random.randint(1,21,size=10)
num_list

array([ 5,  9, 17, 20, 17, 11,  7, 10,  1, 13])

In [52]:
your_num=int(input('숫자를 입력하시오'))
for i in range(len(num_list)):
    if num_list[i]== your_num:
        print(num_list[i])
        break
if your_num not in num_list:
    print(-1)

숫자를 입력하시오 6

-1