In [ ]:
def star(s):
  if s==0:
    return
  print('*'*(5-s)) #5 -> 4(*) -> 3(**) -> 2(***) -> 1(****) -> 0(ret) ->0(*****)
  s-=1
  star(s)
  print('*'*(5-s))

star(5)

In [ ]:
rever_star = ['*'*i for i in range(5,0,-1)]
common_star = ['*'*(i+1) for i in range(0,5)]
total_star = []
total_star.extend(rever_star)

In [ ]:
total_star.extend(common_star)
total_star

In [ ]:
for i in total_star:
  print(i.rjust(5))

In [ ]:
gravity = [7, 4, 2, 0, 0, 6, 0, 7, 0]

max_fall_distance = 0  # 최대 낙차를 저장할 변수를 초기화합니다.

for i in range(len(gravity)-1):#i=0~7(기준층)
    fall=0 #기준층에 대한 낙차 초기화
    for j in range(i + 1, len(gravity)): #j=1~8(비교층)
        if gravity[j] < gravity[i]:
            fall+=1
    if max_fall_distance<fall:
        max_fall_distance=fall

print("상자의 최대 낙차:", max_fall_distance)

In [ ]:
# 특별문제 상자 최대 낙차를 출력
gravity = [7, 4, 2, 0, 0, 6, 0, 7, 0]
# print(gravity)

gravity2 = [[1]*i for i in gravity]
print(gravity2)

In [ ]:

gravity3 = [i + [0]*(7-len(i)) for i in gravity2]
print(gravity3)

In [ ]:
nlist = [[gravity3[i][j] for i in range(len(gravity3))]for j in range(len(gravity3[0]))]
nlist

In [ ]:
nakcha = [len(gravity)-sum(i) for i in nlist]
print(nakcha)

In [ ]:



# nlist = [[gravity3[i][j] for i in range(len(gravity3))] for j in range(7)]
# print(nlist)


# for i in range(len(nakcha)):
#     print(f'{i+1}번째 열의 낙차는 {nakcha[i]}입니다.')

max_nakcha = max(nakcha)

In [ ]:
# 23
# 리스트에 저장된 수 중에서 짝수들의 합을 출력하라.

my_list = [ [20, 38], [41, 50], [2, 4], [3, 4], [5, 8], [9, 10] ]

aen_lst = []

for i in range(len(my_list)): #6
    list(map(lambda number : aen_lst.append(number) if number % 2 == 0 else number, my_list[i]))
    # 질문: 순서상 list()함수로 감싸기전에 람다함수 내부에서 append에 의해 aen_lst리스트 안으로 값이 넣어지는데
    # 왜 리스트로 변환이 먼저되서 값이 넣어지는지 이해가 안됩니다.
print(sum(aen_lst))

In [ ]:
aen_lst

In [ ]:
class Person:
    bag=[] #가방은 여러가지 물건들이 저장, 클래스 속성
    def put_bag(self, stuff):
        #self.bag.append(stuff) #클래스 속성 접근할때는 클래스 이름으로 접근
        Person.bag.append(stuff) #클래스 속성 접근할때는 클래스 이름으로 접근

In [ ]:
Person.bag

In [ ]:
hgd=Person()

In [ ]:
hgd.bag

In [ ]:
hgd.put_bag("지갑")

In [ ]:
hgd.bag

In [ ]:
hgd.put_bag("휴대폰")

In [ ]:
hgd.bag

In [ ]:
lss=Person()

In [ ]:
lss.put_bag("칼")

In [ ]:
lss.bag

In [ ]:
#이순신과 홍길동이 가방을 공유하는 문제가 발생
#클래스 속성(bag)은 클래스에 속해 있으면서도 모든 객체(이순신,홍길동)가 공유합니다.

In [ ]:
class Person:
    def __init__(self):
        self.bag=[]    #인스턴스(객체) 속성
    def put_bag(self, stuff):
        self.bag.append(stuff) #객체가 가지고 있는 bag에 stuff을 추가

In [ ]:
hgd2=Person()

In [ ]:
hgd2.put_bag("휴대폰")

In [ ]:
hgd2.bag

In [ ]:
lss2=Person()

In [ ]:
lss2.put_bag("칼")

In [ ]:
lss2.bag

In [ ]:
#예외(exception) : 코드가 실행중에 발생한 에러

In [ ]:
def mydiv(a):
    try:
        return 5/a #예외 발생할 여지가 있는 코드
    except: #예외가 발생했을 때 실행
        print("예외 상황이 발생했습니다. 입력값을 확인해보세요.")

In [ ]:
mydiv(10)

In [ ]:
mydiv(0) #실행중인 코드에서 에러 발생(예외)

In [ ]:
f=open("파일명.txt","r")

In [ ]:
2/0

In [ ]:
x=[10,20,30]
x[3]

In [ ]:
try:
    2/0
except:
    print("0으로 나누면 안돼요")

In [ ]:
try:
    print("1")
    2/3 #print("0으로 나누면 안돼요")
    print("2")
    x=[10,20,30]
    print("3")
    print(x[3])#print("인덱스 번호를 확인하세요")
    print("4")
except:
    print("0으로 나누면 안돼요")

In [ ]:
try:
    2/0 #print("0으로 나누면 안돼요")
except:
    print("0으로 나누면 안돼요")

try:
    x=[10,20,30]
    print(x[3])#print("인덱스 번호를 확인하세요")
except:
    print("인덱스 번호를 확인하세요")

In [ ]:
try:
    print(2/3)
    x=[10,20,30]
    print(x[3])#print("인덱스 번호를 확인하세요")
except ZeroDivisionError as e:
    print("0으로 나누면 안돼요")
except IndexError as e:
    print("인덱스 에러 발생")

In [ ]:
try:
    age=int(input("나이 입력 : "))
except:
    print("숫자만 입력해주세요. 제발!")
print("반갑습니다")

In [ ]:
try:
    age=int(input("나이 입력 : "))
except:
    print("숫자만 입력해주세요. 제발!")
else:
    print("반갑습니다")
print("안녕")
#try문 수행중에 오류 발생->except수행, 그렇지 않으면 else수행

In [ ]:
try:
    age=int(input("나이 입력 : "))
except:
    print("숫자만 입력해주세요. 제발!")
else:
    if 조건식:
        print("반갑습니다")
    else:
        수행문장
print("안녕")
#try문 수행중에 오류 발생->except수행, 그렇지 않으면 else수행

In [ ]:
"""
나이를 입력받는다.
나이를 숫자가 아닌 문자로 입력하면 '입력 오류' 출력
나이가 18세 이하면 '미성년자'
그렇지 않고 18세 초과면 '환영' 출력
"""
try:
    age=int(input("나이 입력 : "))
except:
    print("입력 오류")
else:
    if age<=18:
        print("미성년자")
    else:
        print("환영")

In [ ]:
#finally: 예외 발생 여부와 상관없이 무조건 실행
try:
    x=int(input())
    y=1/x
except:
    print("0으로 나누지 못함")
else:
    print(y)
print("코드 실행 종료")

In [ ]:
#finally: 예외 발생 여부와 상관없이 무조건 실행
try:
    x=int(input())
    y=1/x
except:
    print("0으로 나누지 못함")
else:
    print(y)
finally:
    print("코드 실행 종료")

In [ ]:
#내장함수 : 기본적으로 메모리에 적재되는 함수
#map, filter, max, len...
#외장함수 : 메모리에 적재(import)한 다음 사용할 수 있는 함수
import random #random 모듈

In [ ]:
random.random() #random모듈.random함수()
모듈?특정 기능과 관련된 함수, 클래스들로 구성된 파일

In [ ]:
print("안녕")

In [ ]:
abs(-5)
abs(-1.5)

In [ ]:
#all:리스트(튜플)의 모든 요소가 true -> true
all([10,20])
all([10,20,0])

In [ ]:
#비어있는 리스트 거짓
if [0]:
    print("참")
else:
    print("거짓")

In [ ]:
if 0:
    print("참")
else:
    print("거짓")

In [ ]:
if []:
    print("참")
else:
    print("거짓")

In [ ]:
#any:리스트(튜플)의 요소 중에서 하나라도 참 -> 참, 모두 거짓->거짓

In [ ]:
any([1,2,0])

In [ ]:
any([0,0,0])

In [ ]:
any([0,0,0,''])

In [ ]:
#chr #유니코드(전세계문자 코드) -> 문자
#ord #문자 -> 유니코드(전세계문자 코드)

In [ ]:
chr(65)
chr(44032)

ord('가')
ord("대")

In [ ]:
x=[10,20]

In [ ]:
dir(x)

In [ ]:
divmod(5,3)

In [ ]:
5//3

In [ ]:
5 % 3

In [ ]:
for i, n in enumerate(['hi','hello','bye']):
    print(i,n)

In [ ]:
for i, n in enumerate(('hi','hello','bye')):
    print(i,n)

In [ ]:
for i, n in enumerate("multicampus"):
    print(i,n)

In [ ]:
#eval()

#문자열로된 수식, 함수 등
eval("1+2")
eval("abs(-5)")

'hi'+'hello'
eval("'hi'+'hello'")
eval("divmod(5,3)")

In [ ]:
x=[1,-2,3,-4,0,5]
#x에 저장된 요소들 중에서 양수만 추출 [1,3,5]
[n for n in x if n>0]

In [ ]:
lst = []
for i in x:
    if i > 0:
       lst.append(i)
print(lst)

In [ ]:
#filter함수

list(filter(lambda k:k>0,x)) #list(filter(함수, 변수))

In [ ]:
def f_func(k):#[1,-2,3,-4,0,5]
    return k>0 #[True, False, ....True]

list(filter(f_func,x)) #x=[1,-2,3,-4,0,5]
# x에 저장된 각각의 요소를 f_func함수로 전달하여,
# 조건에 부합되는 요소만 추출하시오.

In [ ]:
#1~10까지의 수 중에서 4의 배수만 추출하시오.

In [ ]:
x = [i for i in range(1, 11)]
def Drainage(k):
    if k % 4 == 0:
        return k
list(filter(Drainage, x))

In [ ]:
lst = list(range(1, 11))
list(filter(lambda x : x % 4 == 0, lst))

In [ ]:
x=range(1,11)
def f_func(k):
    return k%4==0
list(filter(f_func,x))

In [ ]:
hex(17)
hex(255)

In [ ]:
max([1,2,3])

In [ ]:
min([1,2,3])

In [ ]:
pow(2,3)

In [ ]:
2**3

In [ ]:
12345**100

In [ ]:
round(4.35,1)

In [ ]:
round(4.36,1)

In [ ]:
round(4.78345)

In [ ]:
sum([1,2,3])

In [ ]:
zip([1,2],[3,4],[5,6])

In [ ]:
list(zip([1,2],[3,4],[5,6]))

In [ ]:
list(zip("abc","def"))

In [ ]:
#2024년 3월 6일 - 2024년 2월 26일
#2024년 3월 6일 - 2024년 2월 26일
import datetime

In [ ]:
d1=datetime.date(2024,3,6)
d2=datetime.date(2024,2,26)

In [ ]:
ex_day=d1-d2

In [ ]:
ex_day.days

In [ ]:
d3=datetime.date(2024,8,19)

In [ ]:
ex_day=d3-d1
ex_day.days

In [ ]:
d4=datetime.date(2024,3,6)
d4.weekday() #0:월,1:화...6:일

In [ ]:
import time

In [ ]:
time.time() #1970.1.1~현재까지를 초로 환산

In [ ]:
time.ctime()

In [ ]:
time.localtime(time.time())

In [ ]:
time.strftime("%c",time.localtime(time.time()))

In [ ]:
time.sleep(1)
print("1초 쉰 후에 출력")

In [ ]:
f=open("test1.txt","w")
f.write("안녕하세요")
f.close()

In [ ]:
import shutil

In [ ]:
shutil.copy("test1.txt","test2.txt")

In [ ]:
import glob

In [ ]:
#glob.glob("c:/") #c드라이브에 있는 파일/폴더 검색
import pickle

In [ ]:
f=open("test.txt","wb")
data={1:'python',2:'vs'}
pickle.dump(data,f)

In [ ]:
r=open("test.txt","rb")
d=pickle.load(r)
print(d)

In [ ]:
import zipfile

In [ ]:
with zipfile.ZipFile("ziptext.zip","w") as zf:
    zf.write("test.txt")
    zf.write("test1.txt")
    zf.write("test2.txt")

In [ ]:
 with zipfile.ZipFile("ziptext.zip") as mz:
    mz.extractall()