In [ ]:
count = 0
for i in range(10000):
    for j in str(i):
        if(j == '8'):
            count += 1
            break

print(10000-count)

In [ ]:
count=0
for j in str(1888):
    if(j == '8'):
        count += 1
print(count)

In [ ]:
# 1
# 0부터 9999까지 8을 포함하지 않는 수는 총 몇개일까?
# 8, 108, 888, 9998 등은 8을 포함하고 있는 수입니다.
#111, 299, 4 등과 같은 수는 8을 포함하지 않는 수 입니다.

count = 0
for i in range(10000): #889
    for j in str(i): # 888 -> "888"
        if(j == '8'):
            count += 1
            break

print(10000-count)

In [ ]:
data = int(input())
print(f'{len(str(data))}자리수')

In [ ]:
data = input()
print(f'{len(data)}자리수')

In [ ]:
from datetime import datetime
date_form = "%H:%M:%S"
datas = ['09:12:23', '11:14:35',
        '10:34:01', '13:23:40',
        '10:34:31', '11:20:10']

In [ ]:
input_time = datetime.strptime(input(), date_form) #"11:05:20" -> datetime.datetime(1900, 1, 1, 11, 5, 20)
#11:05:20

In [ ]:
people = 0
for i in range(0,len(datas),2):
    datas_i = datetime.strptime(datas[i], date_form)
    datas_j = datetime.strptime(datas[i+1], date_form)
    if(datas_i < input_time < datas_j):
        people += 1

print(people)

In [ ]:
import re
emails = ['python@mail.example.com', 'python+kr@example.com',              # 올바른 형식
          'python-test@example.co.kr', 'python_10@example.info',         # 올바른 형식
          'python.test@e-xample.com',                                    # 올바른 형식
          '@example.com', 'python@example', 'python@example-com']          # 잘못된 형식
emails_true = []
emails_false = []
for i in emails:
    res = re.match("[A-z+-_.]+@[A-z.-]+[.][A-z]+", i)
    if res:
        emails_true.append(i)
    else:
        emails_false.append(i)
print("올바른 형식: {0}\n잘못된 형식: {1}".format(emails_true, emails_false))

In [ ]:
num0_9999 = ''          # num0_9999 문자열에 모든 수를 넣음.
for i in range(10000):
  num0_9999+= str(i)+' '
num0_9999

In [ ]:
num0_9999 = ''          # num0_9999 문자열에 모든 수를 넣음.
for i in range(10000):
  num0_9999+= str(i)+' '

import re
res = re.findall("[8]+", num0_9999)     # 8이 들어간 수를 찾아서 리스트에 넣어줌.
num8x=10000-len(res)
print('0부터 9999까지 8을 포함하지 않는 수는 총 {}개이다.'.format(num8x))

In [ ]:
num0_9999

In [ ]:
re.findall("[8]+", "8 88 188 818 1800 3848")

In [ ]:
len(re.findall("[8]+", num0_9999))
a

In [ ]:
count = 0
for i in range(10000):
    for j in str(i):
        if(j == '8'):
            count += 1
            break

print(10000-count)

In [ ]:
num0_9999 = [str(num)for num in range(10000)]          # num0_9999 문자열에 모든 수를 넣음.
num8=[]
for num in num0_9999:
  if re.findall('[8]',num):
    num8.append(num)
len(num8)
10000-len(num8)

In [ ]:
count=0
for x in range(0,10000):
    if '8' in str(x):
       count+=1
print(10000-count)

In [ ]:
import math
x,y=map(int,input("밑변과 높이길이를 써주세요").split())
def Pita(x,y):
    C=math.pow(x,2)+math.pow(y,2)
    #C=(x**2)+(y**2)
    c=math.sqrt(C)
    return c
Z=Pita(x,y)
print(Z)

In [ ]:

X=input("숫자를 입력하세요").split()#0123456789, 01234567890 -> 0123456789
a=[]
for x in X:
    #print(x)
     if len(set(x))==10 and len(x)==10:
         a.append("true")
     else:
         a.append("false")

print(a)

In [ ]:
x="0123456789"
set(x)

In [ ]:
X=input("숫자를 입력하세요").split()
a=[]
for x in X:

    if len(set(x))==len(x) and len(x)==10:
        a.append("true")
    else:
        a.append("false")

print(a)

In [ ]:
len(set("0123456789"))

In [ ]:
log_lst ="""
09:12:23 11:14:35
10:34:01 13:23:40
10:34:31 11:20:10
"""

log_lst = log_lst.split()
log_lst = [list(map(int, i.split(":"))) for i in log_lst] # 시, 분, 초 단위로 스플릿
#                        [[09,12,23], [11, 14, 35],...,[11, 20, 10]]
log_lst
in_lst = log_lst[::2] # 출근 시간들 저장
out_lst = log_lst[1::2] # 퇴근 시간들 저장

In [ ]:
in_lst
out_lst

In [ ]:
input_time = list(map(int, input("시간 입력: ").split(":"))) # 입력 시간 시, 분, 초 단위로 스플릿

In [ ]:
input_time

In [ ]:
a# 6. A사무실에는 특정일자의 출퇴근 시간이 기록된 거대한 로그파일이 있다고 한다.

# 파일의 형식은 다음과 같다. (한 라인에서 앞부분은 출근시간(HH:MM:SS), 뒷부분은 퇴근시간이다)

# 특정시간을 입력(예:11:05:20)으로 주었을 때 그 시간에 총 몇 명이 사무실에 있었는지 알려주는 함수를 작성하시오.


# 근무자 수 = 입력한 시간보다 빠르거나 같은 출근 시간 개수 - 입력한 시간보다 빠르거나 같은 퇴근 시간 개수

# 입력: 11:05:20




def compare_time(time, compare_lst):
    count = 0 # 사람 수
    for j in compare_lst: # 출근 or 퇴근 시간 리스트의 인덱스를 기준으로 입력한 시간과 비교합니다.
        if j[0] == time[0]: # '시'가 같은지
            if j[1] == time[1]: # '분'도 같은지
                if j[2] <= time[2]: # '초'도 같거나 더 빠른지
                    count += 1 # 사람 수 추가
            elif j[1] < time[1]: # '시'가 같을때 '분'이 더 빠른지
                count += 1 # 사람 수 추가
        elif j[0] < time[0]: # '시'가 더 빠른지
            count += 1 # 사람 수 추가
    return count

in_worker = compare_time(input_time, in_lst) # 출근자 수
out_worker = compare_time(input_time, out_lst) # 퇴근자 수
print(in_worker - out_worker) # 남은 근무자 수

In [ ]:
count = 0
for i in range(10000):
  if '8' not in str(i):
    count += 1
print(count)

In [ ]:
def check_numbers(number_string):
  return len(set(number_string)) == 10 and number_string.isdigit() and len(number_string)==10#isdigit 모든수 체크
number = input('숫자를 입력하세요.')
if check_numbers(number):
  print('True')
else:
  print('False')

In [ ]:
0123456789 01234 01234567890 6789012345 012322456789

In [ ]:
# ex4 0~9까지의 문자로 된 숫자를 입력 받았을 때, 이 입력 값이 0~9까지의 숫자가 각각 한 번 씩만 사용된 것인지 확인하는 함수를 구하시오.

# sample inputs: 0123456789 01234 01234567890 6789012345 012322456789
# sample outputs: true false false true false
def num_check(n):
    nlist = n.split(' ')
    # print(nlist)
    res = []    # 결과값
    for i in nlist:
        if len(i) == len(set(i)) and len(i)==10:   # set으로 중복 제거후 길이 비교
            res.append('True')
        else:
            res.append('False')
    print(res)

num_check('0123456789 01234 01234567890 6789012345 012322456789')

In [ ]:
# ex1 0부터 9999까지 8을 포함하지 않는 수는 총 몇개일까?
# 8, 108, 888, 9998 등은 8을 포함하고 있는 수입니다.
# 111, 299, 4 등과 같은 수는 8을 포함하지 않는 수 입니다.

#8의 갯수 세기
''.join(str(x) for x in range(0,10000)).count('8')

In [ ]:
count=0
for x in range(0,10000):
    if '8' in str(x):
       count+=1
print(10000-count)

In [ ]:
'8' in "888"

In [ ]:
data=input()
print('true' if len(data)==len(set(data))==10 else 'false')

In [ ]:
log_lst ="""09:12:23 11:14:35
10:34:01 13:23:40
10:34:31 11:20:10"""

In [ ]:
baseTime="11:05:20"
remainCnt=0
logs=log_lst.split("\n")
for log in logs:
    log=log.split()
    if log[0] < baseTime < log[1]:
        remainCnt+=1
print(remainCnt)

In [ ]:
'09:12:23'
"11:05:20"
'11:14:35'

In [ ]:
'09:12:23' < '11:05:20'
48 57 .... < 49 49 ...
'11:05:20' < '11:14:35'

In [ ]:
'0':48, '1':49, ..., '9':57

In [ ]:
baseTime

In [ ]:
def retSec(t):
    hh, mm, ss = t.split(":")
    return int(hh)*60*60+int(mm)*60+int(ss)

In [ ]:
inTime=retSec('09:12:23')
baseTime=retSec(baseTime)
outTime=retSec('11:14:35')
if inTime<baseTime<outTime:
    cnt+=1

In [ ]:
'09:12:23' < '11:05:20'
'11:05:20' < '11:14:35'

In [ ]:
"hello" > "hi"

In [ ]:
"123" < "023"

In [ ]:
"70" > "123"