In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
movie_rank

In [ ]:
del movie_rank[2]
movie_rank

In [ ]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:4]
movie_rank

In [ ]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]
del price[0]

In [ ]:
price

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]
nums[1::2]

In [ ]:
nums = [1, 2, 3, 4, 5]
#nums[::-1]
nums.reverse()

In [ ]:
nums

In [ ]:
company = ['삼성전자', 'LG전자', 'Naver']
print(f'{company[0]} {company[2]}')

In [ ]:
company = ['삼성전자', 'LG전자', 'Naver']
print(f'{company[0]} {company[-1]}')

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
sep = '\n'
print(sep.join(interest))
#print(interest)
print("="*50)
print(sep.join(interest[1:4]))

In [ ]:
data = [2, 4, 3, 1, 5, 5, 10, 9]
data_set = list(set(data))
print(data_set)

In [ ]:
data = [2, 4, 3, 1, 5, 5, 10, 9]
data.sort()

In [ ]:
data

In [ ]:
data = [2, 4, 3, 1, 5, 5, 10, 9]
sorted(data)

In [ ]:
data

In [ ]:
pin = '881120-1068234'
f_pin, b_pin = pin.split('-')
f_year = ['19','20']
year_con = 0
if int(b_pin[0]) < 3:
  year_con = 0
else:
  year_con = 1
print("연월일 : ",f_year[year_con]+f_pin)
print("뒤 숫자 : ",b_pin)

In [ ]:
pin = '881120-1068234'
s_pin =pin.split('-')
s_pin[1]

In [ ]:
x_tuple = (1,2,3)

In [ ]:
y_list = list(x_tuple)
y_list.append(4)
y_tuple = tuple(y_list)
y_tuple

In [ ]:
nums = [1, 2, 3, 4, 5]
float(sum(nums)/len(nums))

In [ ]:
hap=0
for n in nums:
    hap+=n
hap/len(nums)

In [ ]:
#sum=100

In [ ]:
nums = [1, 2, 3, 4, 5]

In [ ]:
sum(nums)

In [ ]:
del sum #사용자 정의 변수를 메모리에서 삭제

In [ ]:
sum(nums)

In [ ]:
# 18. 리스트의 숫자를 역 방향으로 출력하라.
# 실행 예:
# [5, 4, 3, 2, 1]
nums = [1, 2, 3, 4, 5]
print(list(reversed(nums)))

In [ ]:
reversed(nums)

In [ ]:
list(reversed(nums))

In [ ]:
nums

In [ ]:
nums.reverse()

In [ ]:
nums

In [ ]:
ice_list = {'메로나':1000,'폴라포':1200,'빵빠레':1800}

In [ ]:
ice_list

In [ ]:
# ice_list['죠스바']=1200
# ice_list['월드콘']=1500

ice_list.update({'죠스바':1200,'월드콘':1500})
ice_list

In [ ]:
x = 1
multi_list = []
while x<=1000:
  if x%3==0 and x%7==0:
      multi_list.append(x)
  x += 1
print(multi_list)
sum(multi_list)

In [ ]:
# numbers = [3,5,45,97,32,22,10,19,39,43]
# result = []
# for number in numbers:
#   if number % 2 == 0:
#     result.append(number)
# print(result)

# lst1=[4,54,6,74,104]
# lst2=[]
numbers = [3,5,45,97,32,22,10,19,39,43]
result = [number for number in numbers if number%2==0]
print(result)

In [ ]:
lst1=[4,54,6,74,104]
lst2=[]
for x in lst1:
  lst2.append(x+6)
lst2

In [ ]:
lst1=[4,54,6,74,104]
lst2=[i+6 for i in lst1 ]
lst2

In [ ]:
lst2=[]
for x in lst1:
  if x**2 > 50:
    lst2.append(x)
lst2

In [ ]:
lst1=[4,54,6,74,104]
lst2=[i for i in lst1 if i**2 > 50]
lst2

In [ ]:
lst1=[4,54,6,74,104]
lst2=[i**2 for i in lst1 if i**2 > 50]
lst2

In [ ]:
import random
lotto_lists = []
for count in range(6):
  lotto_list = []
  while len(lotto_list)<6:  #while 6 < 7
    number = random.randint(1,45)
    if number not in lotto_list:
      lotto_list.append(number)
  lotto_lists.append(lotto_list)
lotto_lists

In [ ]:
# while len(set([10,30,10,10,20]))!=6
# random.randint(1,45)

#오늘 오후 추가 문제
#로또 문제를 set 자료구조로 구현해보세요

In [ ]:
result = 0 # 23688
i = 1
while True:
    if(i%3==0 and i%7==0):
        result += i
    if(i > 1000):
        break
    i+=1
print(result)

In [ ]:
# for : 일반적인 반복문, 반복횟수가 일정
# while : 반복횟수가 일정치 않을때

# while True:
#     명령문
#     if 끝날상황:
#         break
#     명령문

In [ ]:
import random
nums = [random.randint(1,45) for n in range(6)]
print(nums)

In [ ]:
num = '881120-1068234'
print( num[0:num.find('-')], num[num.find('-')+1:len(num)] )

In [ ]:
num[0:6](())

In [ ]:
#함수 : y=ax+b

In [ ]:
def 함수이름():
    코드

In [ ]:
#함수 정의
def getMsg():
    print("hi, hello")
    #return

In [ ]:
#함수 호출
v=getMsg()
print(v)

In [ ]:
#문장들...
def getJuice(s): #매개변수
    #mix
    return s+"쥬스"
#문장들...

In [ ]:
v=getJuice("딸기") #인수(퍼러미터,parameter,argument)
print(v)

In [ ]:
def imsiFunc():
    pass

In [ ]:
imsiFunc()

In [ ]:
def add(a,b):
    return a+b

In [ ]:
a=1
b=2

In [ ]:
add(a,b)

In [ ]:
print(add(x,y))

In [ ]:
#함수유형
# 입력이 없는 함수
# 리턴이 없는 함수
# 입력,리턴 모두 없는 함수
# 매개변수를 지정하여 호출 하는 함수

In [ ]:
def abc(x,y,z=10):
    """abc 함수는 세 수를 입력받아 뺄셈 결과를 리턴합니다"""

    """
    abc 함수는
    세 수를 입력받아
    뺄셈 결과를
    리턴합니다
    """

    return z-x-y

In [ ]:
abc(y=3,x=1,z=5)

In [ ]:
help(abc)

In [ ]:
def myfunc():
    return [100,50,10]

In [ ]:
h=myfunc()
print(h[0])

In [ ]:
def myfunc2(x):
    if x==1:
        return #함수를 호출한 위치로 되돌아 감
    print(x)

In [ ]:
myfunc2(10)

In [ ]:
"""
두 수를 입력하세요 : 3 2
합:5
차:1
곱:6
나눔:1.5
"""

In [ ]:
x=3
y=2

In [ ]:
def func(a, b):
    print(f"합: {a+b}")
    print(f"차: {a-b}")
    print(f"곱: {a*b}")
    print(f"나눔: {a/b}")
func(x, y)

In [ ]:
def acc(x,y):
  hap=f'합:{x+y}'
  cha=f'차:{x-y}'
  gop=f'곱:{x*y}'
  na=f'나눔:{x/y}'
  print(hap,cha,gop,na, sep='\n')
  return
a,b=map(int,input('두수를 입력하세요 :').split())
acc(a,b)

In [ ]:
input('두수를 입력하세요 :').split() #"3 2" -> split -> ['3','2'] -> map(int,['3','2']) -> 3, 2

In [ ]:
def add(*v): #(1, 2, 3, 4)
    print(v)
    res=0
    for i in v:
        res+=i
    return res

In [ ]:
print(add(1,2,3))

In [ ]:
def addOrSub(op, *v): #(1, 2, 3, 4)
    res=0
    if op=='add':
        for i in v:
            res+=i
    elif op=='sub':
        for i in v:
            res-=i
    return res

In [ ]:
addOrSub('add',10,20,1,2,3,4)

In [ ]:
addOrSub('sub',1,2,1,2,3,4)

In [ ]:
def myfunc2(n, a, man=True):
    print("이름 : %s" %n)
    print("나이 : %d" %a)
    if man:
        print("남")
    else:
        print("여")

In [ ]:
myfunc2("홍길동",20)
myfunc2("홍길동",20,True)
myfunc2("홍길순",20,False)

In [ ]:
def myfunc3(n, a, man=True, addr='Seoul'):
    print("이름 : %s" %n)
    print("나이 : %d" %a)
    if man:
        print("남")
    else:
        print("여")

In [ ]:
myfunc3("홍길동",20)

In [ ]:
def prn_nums(a,b,c):
    print(a)
    print(b)
    print(c)

In [ ]:
prn_nums(1,2,3)

In [ ]:
#n=[1,2,3]
n=(1,2,3)

In [ ]:
prn_nums(*n) # *리스트, *튜플

In [ ]:
prn_nums(*[1,2,3])

In [ ]:
prn_nums(*[1,2])

In [ ]:
def myfunc(st, *n):
    res = 0
    if st == "add":
        for i in n:
            res += i
    if st == "sub":
        for i in n:
            res -= i
    return res
myfunc("add", 1, 2, 3)
myfunc("sub", 1, 2, 3, 4)

In [ ]:
myfunc("add",1,2,3) #6
myfunc("sub",1,2,3,4) #-10 (=0-1-2-3-4)

In [ ]:
#딕셔너리
def per(n, a, addr):
    print('이름',n)
    print('나이',a)
    print('주소',addr)

In [ ]:
dic={'n':'홍길동','a':20,'addr':'서울'}

In [ ]:
per(**dic)

In [ ]:
per(**{'n':'홍길동','a':20,'addr':'서울'})