In [ ]:
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)
#함수 내부에서 선언된 지역변수 이므로 에러 발생

In [ ]:
text = "아이엠어보이유알어걸"

def print_5xn(string):
    for i, t in enumerate(string): #0,아  1,이 ... 4,보
        if(i % 5 == 4): #5글자씩 쪼개기 위해
            print(t) #줄바꿈
        else:
            print(t, end='') #이어서출력
print_5xn(text)

In [ ]:
def print_mxn(string, count):
    for i, t in enumerate(string):
        if(i % count - 2 == count - 3):
            print(t)
        else:
            print(t, end='')

print_mxn("아이엠어보이유알어걸", 4)

In [ ]:
def convert_int(data):
    data = data.split(',')
    res = ''
    for i in data:
        res += i
    return res
int(convert_int("1,234,567"))

In [ ]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
def print_value_by_key(n_dict, n_key):
    print(my_dict[n_key])
    # for i in my_dict:
    #     if i == n_key:
    #         print(my_dict[n_key])

print_value_by_key(my_dict, '10/26')

In [ ]:
def print_5xn(s):
    res = [s[i:i+5] for i in range(0, len(s), 5)] #range(0,10, 5) -> i=0, 5 => s[5:5+5]
    print(res)
    #for j in res:
    #    print(j)

print_5xn('아이엠어보이유알어걸')

In [ ]:
def print_mxn(s, m):
    res = [s[i:i+m] for i in range(0, len(s), m)]
    for j in res:
        print(j)

print_mxn('아이엠어보이유알어걸', 3)

In [ ]:
def print_even(num):
    return str(num) # 반환값에 join함수를 사용하기 위해 문자열로 변환합니다.

print("\n".join(list(map(print_even, filter(lambda i : i % 2 == 0, list(map(int, input("숫자 입력: ").split()))  )))))
#숫자 입력: 1 3 2 10 12 11 15 => [1, 3, 2, 10, 12, 11, 15] => [2, 10, 12] => ['2', '10', '12']

In [ ]:
list(map(int, input("숫자 입력: ").split()))

In [ ]:
list(filter(lambda i : i % 2 == 0, [1, 3, 2, 10, 12, 11, 15]))

In [ ]:
list(map(print_even,[2, 10, 12]))

In [ ]:
print("\n".join(['2', '10', '12']))

In [ ]:
def print_keys(dic):
    key_lst = list(dic.keys()) # 키 들만 빼와서 저장
    print("\n".join(key_lst)) # 줄바꿈 문자로 이어붙여 새로운 문자열 생성

input_profile = input("개인정보 입력: ").split(" ")
k_lst = input_profile[::2] # 키 저장
v_lst = input_profile[1::2] # 밸류 저장
print(k_lst) #['이름', '나이', '성별']
profile = dict(zip(k_lst, v_lst)) # 인덱스 번호끼리 튜플로 묶고 딕셔너리로 변환
print_keys(profile)

In [ ]:
def print_keys(dic):
    key_lst = list(dic..keys()) # 키 들만 빼와서 저장
    print("\n".join(key_lst)) # 줄바꿈 문자로 이어붙여 새로운 문자열 생성

input_profile = input("개인정보 입력: ").split(" ")
k_lst = input_profile[::2] # 키 저장
v_lst = input_profile[1::2] # 밸류 저장
profile = dict(zip(k_lst, v_lst)) # 인덱스 번호끼리 튜플로 묶고 딕셔너리로 변환
print_keys(profile)

# 질문
dict(map(lambda k, v : ([k, v]), k_lst, v_lst)) # 오류 안남 why?
# dict(map(lambda k, v : [(k, v)], k_lst, v_lst)) # 오류 남 why?
# dict(map(lambda k, v : (k, v), k_lst, v_lst)) # 오류 안남 why?
# dict(map(lambda k, v : [k, v], k_lst, v_lst)) # 오류 안남 why?

In [ ]:
dict(map(lambda k, v : ([k, v]), k_lst, v_lst))

In [ ]:
#dict(map(lambda k, v : ([k, v]), k_lst, v_lst)) # 오류 안남 why?
#dict(map(lambda k, v : [(k, v)], k_lst, v_lst)) # 오류 남 why?
#dict(map(lambda k, v : (k, v), k_lst, v_lst)) # 오류 안남 why?
#dict(map(lambda k, v : [k, v], k_lst, v_lst)) # 오류 안남 why?

In [ ]:
def convert_int(string):
    lst = string[:]
    convert = []
    for i in lst:
        try:
            int(i) # 정수로 타입 변환 시도가 되면 convert리스트에 넣고 안되면 넣지 않습니다.
        except:
            continue
        else:
            convert.append(i)
    return "".join(convert)

convert_int("1,234,567")

In [ ]:
# [0-9]*
# [0-9a-z]*
# 문자?
# [0-9]?
# abc?d
import re

In [ ]:
re.match("abc?d", "abd")
re.match("abc?d", "abcd")
re.match("abc?d", "abccd")
re.match("ab.d", "ab")
re.match("ab.d", "ab7d")

re.match("ab.d", "ab7dsaofidhjiofjweoiruw")

In [ ]:
re.match("패턴", "문자열")
#패턴이 문자열에 있으면 "패턴매치"

In [ ]:
#a{3} : a문자가 정확하게 3개
re.match("a{3}", "aaa")
re.match("a{3}", "aaaa")
re.match("a{3}", "baaaa")
re.match("a{3}", "aabaa")
re.match("a{3}", "aabaaa")

re.match("abc{3}", "abccc")
re.match("abc{3}", "ccc")
re.match("abc{3}", "abc")

re.match("a{2}bc{3}", "aabccc")
re.match("a{2}bc{3}", "aabbccc")
re.match("a{2}b.c{3}", "aab가ccc")
re.match("a{2}b.c{3}", "aab#ccc")

In [ ]:
re.match("hi{3}","hiii")
re.match("hi{3}","hii")
re.match("hi{3}","hiiiiiii")
re.match("(hi){3}","hiiiiiii") #():하나의 그룹
re.match("(hi){3}","hihihi")

In [ ]:
re.match("[0-9]","51")
re.match("[0-9]*","51")
#re.match("[0-9]+","51")

In [ ]:
re.match("[0-9]{3}","123") #숫자가 반드시 3개
re.match("[0-9]{3}","1234") #숫자가 반드시 3개
re.match("[0-9]{3}","12") #숫자가 반드시 3개

re.match("","010-1234-5678")

In [ ]:
re.match("[0-9]{3}-[0-9]{4}-[0-9]{4}", "010-1234-5678")

In [ ]:
re.match('[0-9]+-[0-9]+-[0-9]+','0-954-5678')

In [ ]:
re.match('[0-9]{3}.[0-9]{4}.[0-9]{4}','0103123435678')

In [ ]:
re.match("010-[0-9]{4}-[0-9]{4}","010-1234-56778")

In [ ]:
tel="010-1234-56778"
res=re.match("[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}",tel)

In [ ]:
res

In [ ]:
tel[res.span()[0]:res.span()[1]] #res.group()

In [ ]:
res.group()

In [ ]:
re.match("Hello123", "Hello123")
re.match("[A-Za-z0-9]+", "Hello123")
re.match("Hello[0-9]{3}","Hello123")

In [ ]:
re.match('[A-Z]*[a-z]+[0-9]+', 'Hello123')

In [ ]:
re.match('', 'Hello123')
#반드시 대문자로 시작(1글자)
#2번째 글자부터는 반드시 소문자로
#문자열은 숫자로 끝나야 한다

In [ ]:
re.match("[A-Z]{1}[a-z]+[0-9]+", "Hello123")
re.match('[A-Z][a-z]+[1-9]+','Hello123')

In [ ]:
re.match("[ABCK]","D")

In [ ]:
re.match("[A-z]+123", "Hello_123") # 65~122

In [ ]:
re.match("[A-Za-zㄱ-ㅎ가-힣]+123", "Hello_123")
      #65~90 or 97~122
# A:65
# Z:90
# a:97
# z:122

In [ ]:
re.match("[가-힣]", "딥러닝")

In [ ]:
re.match("[가-힣]+", "딥러닝")

In [ ]:
re.match("[^0-9]","123") #숫자 제외
re.match("[^0-9]","abc") #숫자 제외, 1문자
re.match("[^0-9]+","abc") #숫자가 아닌 문자가 1문자 이상나오면 매치
re.match("[^0-9]+","abc123")
re.match("[^0-9a-z]+","abc123")#숫자 또는 영문소문자가 아닌 문자가 1문자 이상나오면 매치
re.match("[^0-9a-z]+","오늘의 환율은 1300원입니다")
re.match("[^0-9a-zA-Z가-힣]+","$300") #[]안에 ^기호를 넣으면 NOT의 의미

In [ ]:
re.match("[A-Z]+", 'Hi')
re.match("[^A-Z]+", 'Hi')
re.match("^[A-Z]+", 'Hi') #^를 [] 앞에 붙이면 특정 문자(범위)로 시작하는 패턴식
#^[A-Z]+:1개 이상의 대문자로 시작하는 문자열인 경우 매치됨

In [ ]:
re.match("^[A-Z]+", 'HELLOhi')

In [ ]:
# [범위]*$ #특정 문자(숫자) 범위로 끝나는지 확인
# [범위]+$ #특정 문자(숫자) 범위로 끝나는지 확인

In [ ]:
re.match("[0-9]+$","abc123")
re.search("[0-9]+$","abc123")

In [ ]:
re.search("[0-9]+$","abc123abc")
re.search("[0-9]+","abc123abc")

In [ ]:
re.search("[0-9]+$","abc123")

In [ ]:
re.search("[0-9]+","abc123")

In [ ]:
re.search( "\*+" , "3 ** 2") #*이 1개 이상 있는지 판단

In [ ]:
re.search( "[*]" , "3 ** 2") #*이 1개 이상 있는지 판단
re.search( "[*]+" , "3 ** 2") #*이 1개 이상 있는지 판단

In [ ]:
re.search("", "2 ** 3 / 2")

In [ ]:
re.search("[1-9] [*]+ [1-9] [/] [1-9]", "2 ** 3 / 2")

In [ ]:
re.search("[0-9] [*]+ [0-9] / [0-9]", "2 ** 3 / 2")

In [ ]:
re.search('[0-9]+[" "][*]+[" "][0-9]+[" "][/][" "]+[0-9]','2 ** 3 / 2')

In [ ]:
re.search('[0-9 ]+[*]+[0-9 ]+[/ ]+[0-9]', '2 ** 3 / 2')

In [ ]:
re.search('[0-9 */]+', '2 ** 3 / 2')

In [ ]:
re.search("매치되게 패턴식 정의","$(print)")

In [ ]:
re.search("[$(print)]+", "$(print)")
re.search("[$(a-z})]+", "$(print)")

In [ ]:
"""
[0-9] == \d
숫자를 제외한 모든 문자== [^0-9]  == \D
[a-zA-Z0-9_ㄱ-ㅎ가-힣] == \w
[^a-zA-Z0-9_ㄱ-ㅎ가-힣] == \W
"""

In [ ]:
re.search("[^0-9]+", "LSJFLK234SJAFLKDJSAKFL")

In [ ]:
re.match("\d+", "123")
re.match("\D+", "hihello반가워~안녕")
re.match("\w+", "hello_123")
re.match("\W+", "hello_123")

In [ ]:
re.match("\w+", "ㅋㅋㅋ가나다")

In [ ]:
#\s:공백, 줄바꿈, 탭
re.search("\s+", "hi   hello")

In [ ]:
re.search("[$(a-z)]+", "$(print)")

In [ ]:
pat=re.compile("[0-9]+")

In [ ]:
pat.match("123")
pat.match("456")

In [ ]:
re.match("[0-9]+", "123")
re.match("[0-9]+", "456")

In [ ]:
pat.search("abc123def")

In [ ]:
res=re.match("[0-9]+", "가123")

In [ ]:
if res:
    print("매치됐어요",res.group())
else:
    print("매치되지 않았어요")

In [ ]:
print(res)

In [ ]:
re.search("[a-zA-Z]+", "Do you have some money?")

In [ ]:
res=re.findall("[a-zA-Z]+", "Do you have some money?")
res

In [ ]:
for r in res:
    print(r)

In [ ]:
res=re.finditer("[a-zA-Z]+", "Do you have some money?")
res

In [ ]:
for r in res:
    print(r)

In [ ]:
m=re.match("[0-9]+", "p 123")
m

In [ ]:
#m.start() #0
#m.end()
#m.span()

In [ ]:
m=re.search("[0-9]+", "p 123")
m

In [ ]:
m.start()
#m.end()
#m.span()

In [ ]:
#(정규식)(정규식)
#그룹 : (정규식)
res=re.match("([0-9]+) ([0-9]+)", "100 200 300")
res

In [ ]:
res.group(1)

In [ ]:
res.group(2)

In [ ]:
res.group()
#res.group(0)

In [ ]:
res.groups() #패턴에 매치된 문자열을 튜플형식으로 리턴

In [ ]:
#패턴 그룹에 대한 이름 부여
#(?P<그룹이름>정규식)

In [ ]:
res=re.match("(?P<func>[a-z]+)\((?P<arg>\d+)\)", "print(100)")
res

In [ ]:
res.group('func')#'func' 그룹 이름에 해당되는 패턴에 매치된 문자열을 리턴

In [ ]:
res.group('arg')

In [ ]:
#"10 20 sky 50 100 bird 200" #정규식을 사용하여 문자열에서 숫자만 추출하시오.
re.findall('[0-9]+','10 20 sky 50 100 bird 200')

In [ ]:
re.findall("(\d+)", "10 20 sky 50 100 bird 200")

In [ ]:
res=re.findall('(?P<nums>\d+)', '10 20 sky 50 100 bird 200')
res

In [ ]:
#re.sub("정규식","바꿀문자열", "문자열", "변경횟수" )
#자연어처리에서 문자열 전처리시 많이 사용되는 함수
#변경횟수는 생략시 매칭된 문자열을 모두 변경

In [ ]:
re.sub("orange", "fruit", "orange banana tree box apple")
re.sub("orange", "fruit", "orange banana tree box apple orange orange")

In [ ]:
re.sub("orange", "fruit", "orange banana tree box apple orange orange", 2)

In [ ]:
re.sub("orange|apple", "fruit", "orange banana tree box apple orange orange")

In [ ]:
re.sub("orange|apple|banana", "fruit", "orange banana tree box apple orange orange")

In [ ]:
"10 20 sky 50 100 bird 200" 문자열에서 숫자는 모두 num으로 변경하시오.

In [ ]:
re.sub("\d", "num", "10 20 sky 50 100 bird 200")

In [ ]:
re.sub("\d+", "num", "10 20 sky 50 100 bird 200")

In [ ]:
re.sub("\d+", "num", "10 20 sky 50 100 bird 200")
#문자열에서 숫자는 모두 2배를 적용하시오.
#"20 40 sky 100 200 bird 400"

In [ ]:
# 변경함수(매치된객체):
#     변경할 수식
#re.sub("패턴", 변경함수, "문자열", "변경횟수")

def func_db(res):
#변경할 수식
    return str(int(res.group())*2)

re.sub("\d+",func_db,"10 20 sky 50 100 bird 200")

In [ ]:
test="1 2 3 abc 4 def"
#test 문자열 중에서 숫자를 모두 10배 하시오.

In [ ]:
def func_100(res):
  return str(int(res.group())*10)
re.sub("\d+", func_100, test)

In [ ]:
re.sub("\d+", lambda x: str(int(x.group())*10), test)

In [ ]:
emails = ['python@mail.example.com', 'python+kr@example.com',            # 올바른 형식
          'python-test@example.co.kr', 'python_10@example.info',         # 올바른 형식
          'python.test@e-xample.com',                                    # 올바른 형식
          '@example.com', 'python@example', 'python@example-com']        # 잘못된 형식

In [ ]:
#올바른 형식은 "올바른 형식" 출력, 잘못된 형식은 "잘못된 형식" 출력

#출력:올바른 형식 올바른 형식 올바른 형식 올바른 형식 올바른 형식 잘못된 형식 잘못된 형식 잘못된 형식